@page "/"
@using GranDen.Blazor.Bootstrap.SwitchButton
@using Serilog

<h1>Bootstrap Switch Button Demo</h1>

<fieldset class="border p-3">
    <legend>Js Dynamically create Switch Button</legend>

    <Switch InitialState="on"
            OnUiLabel="Enabled" OffUiLabel="Disabled"
            StateChanged="@SwitchCompStageChanged">
    </Switch>
</fieldset>

@code {

    private void SwitchCompStageChanged(bool currentState)
    {
        Log.Information("switch is {0}", currentState);
    }

}